<!--
    //////-------------------------------------------------------------------------------------------------------
    ////// Copyright © WTS Paradigm 2014
    //////
    ////// Name:            WSInstructionView.cshtml
    ////// Created:         11/01/2014
    ////// Purpose:         Contains the 'Instructions' View for the PaperlessShopFloorMVC web application
    //////
    ////// Modifications:   *DJF 11/01/14 WPL32878 Created
    //////					*DJF 06/10/15 WPL33788 Color Swatches, and Full Unit View on Paperless Shop Floor
    //////                  *RR  01/06/16 PD-2094  PaperlessShopFloor Enhancement
    //////-------------------------------------------------------------------------------------------------------
-->
@using ASI.CommonLibrary.Scheduling
@using PaperlessShopFloorMVC.Models
@model InstructionsViewModel

@section Scripts
{
    <script src="~/Scripts/jquery-1.8.2.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <link type="text/css" href="~/Content/Paperless.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            // Adjust page layout based on Workstation type
            var wsType = @Model.WorkstationType;
            if(wsType == '2'){  // Cut List
                $("#divAssmSeqInfo").css("visibility","hidden");
                $("#divBatchInfo").css("visibility","visible");
                $("#divRightCol").css("visibility","hidden");
                $("#divCenterCol").css("visibility","hidden");

                $("#divPart").css("margin-top","0");
                $("#divCenterCol").css("height","0px");
                $("#divRightCol").css("height","0px");

                $('#NewBatchScanInput').val('');
                $('#NewBatchScanInput').focus();
            }
            else{
                $("#divAssmSeqInfo").css("visibility","visible");
                $("#divBatchInfo").css("visibility","hidden");
                $("#divRightCol").css("visibility","visible");
                $("#divCenterCol").css("visibility","visible");

                $("#divPart").css("margin-top","330px");
                $("#divCenterCol").css("height","310px");
                $("#divRightCol").css("height","310px");

                $('#NewAssemblyScanInput').val('');
                $('#NewAssemblyScanInput').focus();
            }

            // Complete button click event
            $("#btnComplete").click(function () {
                var el =  $("#overlay");
                el.css("visibility","visible");
                $("body").css("overflow", "hidden");    // Disable scroll bar
                var assNum = @Model.CurrentAssemblyInput;
                var completionAction = @Model.CompletionAction;
                //debugger;
                $.ajax({
                    url: '/Home/HandleCompleteForm',
                    data: { assemblyInsNumber: assNum,completionAction: completionAction},
                    type: "post",
                    success: function (data) {
                        el.css("visibility","hidden");
                        $("body").css("overflow", "inherit");
                        alert(data.msg);
                    },
                    error: function (data) {
                        el.css("visibility","hidden");
                        $("body").css("overflow", "inherit");
                        alert( "Failed to add current assembly to complete queue.");
                    }
                });
            });
        });

    </script>

    <style type="text/css">
        #overlay {
            visibility: hidden;
            position: absolute;
            background-color: gray;
            opacity: 0.4;
            filter: alpha(opacity=40); /*For IE8 and earlier*/
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 1000;
        }

        #overlay div {
                width: 300px;
                margin: 150px auto;
                background-color: #fff;
                opacity: 1;
                filter: alpha(opacity=100); /*For IE8 and earlier*/
                border: 1px solid #000;
                padding: 15px;
                text-align: center;
                color: black;
            }
    </style>
}

<div>
    <div class="PageHeader">
        <table style="width:99%" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:33%;text-align:left">@Model.PaperlessStationName</td>
                <td style="width:33%;text-align:center;"><img src="~/images/Company_Logo_Banner.png" alt="" /></td>
                <td style="width:33%;text-align:right;">Welcome @Model.PaperlessUserName!&nbsp;&nbsp;@Html.ActionLink("Logout", "LogoutClick")</td>
            </tr>
        </table>
    </div>
</div>
<div class="Top-Container">
    <div class="column-center" id="divCenterCol">
        @if (Model.WorkstationType != 2)
        {
            <div style="padding-top:10px;">
                @if (Model.InfoLinkInstructs != null)
                {
                    if (!string.IsNullOrEmpty(Model.InfoLinkInstructs))
                    {
					<!-- DJF++ 06/12/2015 SWAT-548 Paperless Shop Floor info Links are not working as designed -->
					<!-- Puts the value of the InfoLink instruction in the href attribute of the a tag -->
                        <span><a href="@Model.InfoLinkInstructs" target="_blank"><img src="~/Images/infoblue.png" style="border-style:none;" width="20" height="20" alt="" /></a>&nbsp;</span>
                        <span><img src="~/images/star.png" width="20" height="20" alt="" title="Current Workstation Name" />&nbsp;</span>
                        <b>@Model.PaperlessStationName</b>
                    }
                    else
                    {
                        <span><img src="~/images/star.png" width="20" height="20" alt="" title="Current Workstation Name" />&nbsp;</span>
                        <b>@Model.PaperlessStationName</b>
                    }
                }
                else
                {
                    <span><img src="~/images/star.png" width="20" height="20" alt="" title="Current Workstation Name" />&nbsp;</span>
                    <b>@Model.PaperlessStationName</b>
                }
                <br />
                <br />
                <div style="min-height:175px;padding:5px;width:93%;background-color:#f2f2f2;">
                    <table style="border-collapse:collapse;width:100%">
                        <!-- DJF++ 06/10/2015 WPL33788 Color Swatches, and Full Unit View on Paperless Shop Floor -->
                        <!-- Screen out Image type instructions -->
                        @if (Model.CurrStationInstructs != null)
                        {
                            foreach (var item in Model.CurrStationInstructs.Where(item => !string.IsNullOrEmpty(item.InstructionValue) && item.InstructionType != PaperlessWorkstationInstructionType.Image))
                            {
                                <tr>
                                    <td style="padding: 2px;">@item.InstructionValue</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <br />
                <br />
                <br />
            </div>
        }
    </div>
    <div class="column-left" id="divAssmSeqInfo">
        <b>Current Sequence Number:&nbsp;&nbsp;@Model.CurrentAssemblyInput</b>
        <br />
        <br />
        @{
            Html.BeginForm("HandleNewScanForm", "Home");

        @Html.TextBox("NewAssemblyScanInput", null, new { @style = "height:20px;", required = "required", title = "Please enter a valid assembly sequence number." })
        <br /><br />
        <input type="submit" style="width:150px;height:25px;" value="Scan New Assembly" />

            Html.EndForm();
        }
        <br />
        <br />
        <b>
            <img src="~/images/red-left.png" width="20" height="20" alt="" title="Previous Workstation Name" />&nbsp;@Model.PrevStationName
        </b>
        <br />
        <br />
        <table style="border-collapse:collapse;width:97%">
            <!-- DJF++ 06/10/2015 WPL33788 Color Swatches, and Full Unit View on Paperless Shop Floor -->
            <!-- Screen out Image type instructions -->
            @if (Model.PrevStationInstructs != null)
            {
                foreach (var item in Model.PrevStationInstructs.Where(item => !string.IsNullOrEmpty(item.InstructionValue) && item.InstructionType != PaperlessWorkstationInstructionType.Image))
                {
            <tr>
                <td style="padding:2px;">@item.InstructionValue</td>
            </tr>
                }
            }
        </table>
        <br /><br /><br /><br /><br />
        <!--<br /><br /><br /><br /><br />-->
        <b>
            <img src="~/images/green-right.png" width="20" height="20" alt="" title="Next Workstation Name" />&nbsp;@Model.NextStationName
        </b>
        <br />
        <br />
        <table style="border-collapse:collapse;width:97%">
            <!-- DJF++ 06/10/2015 WPL33788 Color Swatches, and Full Unit View on Paperless Shop Floor -->
            <!-- Screen out Image type instructions -->
            @if (Model.NextStationInstructs != null)
            {
                foreach (var item in Model.NextStationInstructs.Where(item => !string.IsNullOrEmpty(item.InstructionValue) && item.InstructionType != PaperlessWorkstationInstructionType.Image))
                {
            <tr>
                <td style="padding:2px;">@item.InstructionValue</td>
            </tr>
                }
            }
        </table>
    </div>
    <div class="column-left" id="divBatchInfo">
        <b>Current Batch Number:&nbsp;&nbsp;@Model.BatchNumber</b>
        <br />
        <br />
        @{
            Html.BeginForm("HandleNewBatchScanForm", "Home");

            @Html.TextBox("NewBatchScanInput", null, new { @style = "height:20px;", required = "required", title = "Please enter a valid batch number." })
            <br /><br />
            <input type="submit" style="width:150px;height:25px;" value="Scan New Batch" />

            Html.EndForm();
        }
        <br />
        <br />
    </div>
    <div class="column-right" id="divRightCol">
        <!-- DJF+if 06/10/2015 WPL33788 Color Swatches, and Full Unit View on Paperless Shop Floor -->
        <!--
            If we have Image type instructions the following div and table will be added.... The table
            will have 2 rows.  In the first row cells, the Instruction Names will be used as the column headers.
            In the 2d row, the Instrction value will be used for the img tag in each cell
        -->
        @if (Model.WorkstationType != 2)
        {
            if (Model.HasImageInstructions)
            {
                <div id="SwatchDiv">
                    <table border="1" cellspacing="0" cellpadding="0" style="margin: 0 auto">
                        <tr style="height: 20px;">
                            @foreach (var item in Model.CurrStationInstructs.Where(item => !string.IsNullOrEmpty(item.InstructionValue) && item.InstructionType == PaperlessWorkstationInstructionType.Image))
                            {
                                <th><b>@item.InstructionName</b></th>
                            }
                        </tr>
                        <tr>
                            @foreach (var item in Model.CurrStationInstructs.Where(item => !string.IsNullOrEmpty(item.InstructionValue) && item.InstructionType == PaperlessWorkstationInstructionType.Image))
                            {
                                <td>
                                    <!-- DJF 06/23/2015 WPL33788 Color Swatches, and Full Unit View on Paperless Shop Floor -->
                                    <!-- Added width and height selectors to the style attribute                            -->
                                    <img style="border-style:none;width:@Model.ImageWidth;height:@Model.ImageHeight;" src="@item.InstructionValue" alt="" />
                                </td>
                            }
                        </tr>
                    </table>
                </div>
            }
        <!-- DJF+if 06/12/2015 WPL33788 Color Swatches, and Full Unit View on Paperless Shop Floor -->
            <!--
                if/else block was added because padding-top style selector has to be adusted, depending on whether Image Instructions
                are present
            -->
            if (Model.HasImageInstructions)
            {
                <div style="text-align:center;padding-top:5px;padding-left:10px;">

                    @if (Model.ImageToDisplay == "No Image Available")
                    {
                        <span><b>@Model.ImageToDisplay</b></span>
                    }
                    else
                    {
                        <img style="width:227px;height:232px;" src="@Model.ImageToDisplay" alt="" />
                    }

                </div>
            }
            else
            {
                <div style="text-align:center;padding-top:45px;padding-left:10px;">

                    @if (Model.ImageToDisplay == "No Image Available")
                    {
                        <span><b>@Model.ImageToDisplay</b></span>
                    }
                    else
                    {
                        <img style="width:227px;height:232px;" src="@Model.ImageToDisplay" alt="" />
                    }

                </div>
            }
        <!--*RR 12/15/2015 PD-2094 Paperless Shop Floor Enhancement -->
            if (Model.CompletionAction != null && Model.CompletionAction != 0)
            {
                using (Html.BeginForm("HandleCompleteForm", "Home", FormMethod.Post, new { id = "CompleteForm" }))
                {
                    <br /><br />
                    <div style="text-align:center">
                        <input type="button" id="btnComplete" style="background-color:green; font-size:large; font-weight:bold; height:50px; width:110px; text-align:center" value="Complete" />
                    </div>
                }
            }
        }
    </div>
    <div class="PartsDiv" id="divPart">
        <br />
        <br />
        <b>
            Parts
        </b>
        <br />
        <br />
        <div>
            <table border="1" cellspacing="0" style="width:92%;">
                @{
                    List<int> lImageColumnIndexes = new List<int>();
                    <tr style="background-color:#a5a5a5;height:25px;">
                        @for (int i = 0; i < Model.PartsViewData.ColumnHeaders.Count; i++)
                        {
                            if (Model.PartsViewData.ColumnHeaders[i].IsImage)
                            {
                                lImageColumnIndexes.Add(i);
                            }
                            <th style="padding:2px;">
                                <b>@Model.PartsViewData.ColumnHeaders[i].ColumnName</b>
                            </th>
                        }
                    </tr>
                    if (Model.PartsViewData != null && Model.PartsViewData.ViewRows != null)
                    {
                        foreach (var vR in Model.PartsViewData.ViewRows)
                        {
                            <tr style="height:25px;">

                                @for (int i = 0; i < vR.Count(); i++)
                                {
                                    if (lImageColumnIndexes.Contains(i))
                                    {
                                        <td>
                                            @{
                                        var imgSrc = String.Format("data:img/gif;base64,{0}", vR[i]);
                                        <img style="border-style:none;width:80px;height:80px;" src="@imgSrc" alt="" />
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        var dispStr = vR[i];

                                        if (dispStr == "NOT FOUND")
                                        {
                                            dispStr = "N/A";
                                        }
                                        <td style="padding:2px;">@dispStr</td>
                                    }
                                }
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>
</div>
<div id="overlay">
    <div>
        <p>Processing...</p>
    </div>
</div>
